.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.react-calendar {
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  font-size: 18px;
  user-select: none;
  min-height: 50px;
}

.calendar-header-nav {
  height: 100%;
  min-width: 100px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .2s;
}

.calendar-header-nav.__go {
  font-size: 20px;
}

.calendar-header .calendar-header-nav:hover {
  cursor: pointer;
  background: rgba(192, 192, 192, 0.5);
}

.calendar-body {
  max-height: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.calendar-body-week {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.calendar-body-rows-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-body-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.calendar-day {
  position: relative;
  flex: 1;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  border-right: 1px solid rgba(192, 192, 192, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: background .2s;
}

.calendar-day:hover {
  background: rgba(192, 192, 192, 0.1);
}

.calendar-day:last-child {
  border-right: 0;
}

.calendar-day.weekend {
  color: #FF5722;
}

.calendar-day.cur::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #FF5722;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.calendar-day-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 8px;
}

.calendar-day.today .calendar-day-item::before {
  position: absolute;
  display: block;
  content: "今";
  left: 0;
  bottom: 0;
  background: #f44336;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 2px;
  font-size: 12px;
  transform: scale(0.8);
  transform-origin: right top;
  /*border: 10px solid transparent;*/
  /*border-top-color: #f44336;*/
  /*border-right-width: 0;*/
}

.calendar-day-item-date {
  font-size: 28px;
  line-height: 1;
  border-radius: 50%;
  display: inline-block;
}

.calendar-day-item-lunar {
  color: #aaa;
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.calendar-day-entries {
  overflow: auto;
  padding: 5px;
  margin-bottom: 38px;
}

.calendar-day-entry-item {
  margin: 0 1px;
}

@media screen and (max-width: 1000px) {
  .calendar-day-item-date {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .calendar-day-item {
    flex-direction: column;
    padding: 2px 2px 0;
  }
  .calendar-day-item-lunar {
    margin-right: 0;
  }
}
