@import "~font-awesome/css/font-awesome.css";

body {
  margin: 0;
  font-family: "Open Sans", "Source Han Sans SC", "PingFang SC", Arial, "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*user-select: none;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.swal2-container {
  z-index: 9999 !important;
}

.swal2-show {
  -webkit-animation: swal2-show-customized 0.3s !important;
  animation: swal2-show-customized 0.3s !important;
}
@keyframes swal2-show-customized {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.swal2-hide {
  -webkit-animation: swal2-hide-customized 0.15s forwards !important;
  animation: swal2-hide-customized 0.15s forwards !important;
}
@keyframes swal2-hide-customized {
   0% {
     opacity: 1;
   }
   100% {
     opacity: 0;
     transform: scale(0.9);
   }
 }

.__swal-container .swal2-popup {
  padding: 10px;
  width: 800px;
}
.__swal-title {
  font-size: 18px !important;

}

.__nested {
  padding-left: 20px;
}

.__target-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 30px;
}

.__target-group:hover {
  background-color: #ebebeb;
}

.__view-detail-note {
  padding: 5px;
  border-top: 1px solid #ccc;
  /*white-space: pre-line;*/
  text-align: left;
  max-height: 80vh;
  overflow-y: auto;
}

.__icon-chooser-wrap {
  text-align: left;
  user-select: none;
}
.__icon-chooser-wrap input[type="radio"] {
  display: none;
}

.__icon-chooser-wrap i {
  display: inline-block;
  font-size: 28px;
  padding: 10px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.__icon-chooser-wrap input[type="radio"]:checked ~ i {
  background: #ccc;
}

.__icon-chooser-wrap i.active,
.__icon-chooser-wrap i:hover {
  background: #eeeeee;
}
